---
layout: default
title: Free 1 Hour Training
video_id: 0fhi
video_embed_code: <script src="https://fast.wistia.com/embed/medias/0fhi70cz9j.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_0fhi70cz9j videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/0fhi70cz9j/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
video_time_triger: 5
page_blocks:
---
<!-- time_in_seconds_for_popup: 3000 -->
{% include site-header.html %}

<section class="padded light-bg capped-width centered">

  <div class="padded-1 editable">
    <h2>Free One Hour Training </h2>
    <p class="emphasis">Become a Professional Content Creator and Make Money from Anywhere</p>
  </div>

  {{page.video_embed_code}}

</section>
<div class="shrunk traning-text" id="shown-text">
  {% for block in page.page_blocks %}

      <div class="rel">
          <a href="cloudcannon:#page_blocks[{{ forloop.index0 }}]" class="editor-link" data-cms-editor-link-style="modal">
            Edit Section
          </a>

       {% include blocks/{{block._id}}.html block=block %}

    </div>
  {% endfor %}
</div>
<script>
  window._wq = window._wq || [];
  _wq.push({ id: "{{page.video_id}}", onReady: function(video) {
    video.bind("secondchange", function(s) {
      if (s === {{page.video_time_triger}}) {
        var element = document.getElementById("shown-text");
        element.classList.remove("shrunk");
      }
    });
  }});
</script>
