---
layout: default
title: Free 1 Hour Training
remove_banner: true
video_id: mqu
video_embed_code: >-
  <script src="https://fast.wistia.com/embed/medias/mqulq64629.jsonp"
  async></script><script src="https://fast.wistia.com/assets/external/E-v1.js"
  async></script><div class="wistia_responsive_padding" style="padding:56.25% 0
  0 0;position:relative;"><div class="wistia_responsive_wrapper"
  style="height:100%;left:0;position:absolute;top:0;width:100%;"><div
  class="wistia_embed wistia_async_mqulq64629 videoFoam=true"
  style="height:100%;position:relative;width:100%"><div class="wistia_swatch"
  style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity
  200ms;width:100%;"><img
  src="https://fast.wistia.com/embed/medias/mqulq64629/swatch"
  style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt=""
  aria-hidden="true" onload="this.parentNode.style.opacity=1;"
  /></div></div></div></div>
video_time_triger: 0
page_blocks:
---

{% include site-header.html %}

<section class="padded-light light-bg capped-width centered">

  <div class="padded-1 editable">
    <h2>Free One Hour Training </h2>
    <p class="emphasis">Become a Professional Content Creator and Make Money from Anywhere</p>
  </div>

  {{page.video_embed_code}}
  <!-- needed for button if loops -->
  {% assign buttons_used = 1 %}
  <!-- end needed for button for loops -->

</section>

<!--<div class="shrunk traning-text" id="shown-text">-->

  <div class="center rel">

    <div class="centered light-bg padded-bottom">
      <a class="button" href="/lca-15">Enroll Now</a>

    </div>


        {% if buttons_used == 1 %}

        <script src="/assets/buy.js" defer></script>
        <script src="/assets/buy_button-p5.js" defer></script>
        <script src="/assets/buy_button-p5-b2.js" defer></script>
        {% endif %}
        {% if buttons_used == 2 %}
        {% endif %}
        {% if buttons_used == 3 %}
        <script src="/assets/buy_button3.js" defer></script>
        {% endif %}
        {% if buttons_used == 4 %}
        <script src="/assets/buy_button4.js" defer></script>
        {% endif %}
    </div>
      {% assign buttons_used = buttons_used | plus: 1 %}




  <!-- end needed for button for loops -->
  {% for block in page.page_blocks %}

      <div class="rel">
          <a href="cloudcannon:#page_blocks[{{ forloop.index0 }}]" class="editor-link" data-cms-editor-link-style="modal">
            Edit Section
          </a>

       {% include blocks/{{block._id}}.html block=block %}

    </div>
  {% endfor %}
<!--</div>-->
<script>
  window._wq = window._wq || [];
  _wq.push({ id: "{{page.video_id}}", onReady: function(video) {
    video.bind("secondchange", function(s) {
      if (s === {{page.video_time_triger}}) {
        var element = document.getElementById("shown-text");
        element.classList.remove("shrunk");
      }
    });
  }});
</script>
