---
layout: default
title: Free 1 Hour Training
remove_banner: true
video_id: t97b
video_embed_code: >-
  <script src="https://fast.wistia.com/embed/medias/t97bfpp03t.jsonp"
  async></script><script src="https://fast.wistia.com/assets/external/E-v1.js"
  async></script><div class="wistia_responsive_padding" style="padding:56.25% 0
  0 0;position:relative;"><div class="wistia_responsive_wrapper"
  style="height:100%;left:0;position:absolute;top:0;width:100%;"><div
  class="wistia_embed wistia_async_t97bfpp03t videoFoam=true"
  style="height:100%;position:relative;width:100%"><div class="wistia_swatch"
  style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity
  200ms;width:100%;"><img
  src="https://fast.wistia.com/embed/medias/t97bfpp03t/swatch"
  style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt=""
  aria-hidden="true" onload="this.parentNode.style.opacity=1;"
  /></div></div></div></div>
video_time_triger: 0
page_blocks:
  - _id: review
    text_html: <h2 class="centered">Reviews from LCA Students</h2>
    bg-class:
    img_path: /uploads/AFTER VOLCANO.jpg
    overlay_rgba: 'rgba(22, 22, 24, 0.89)'
    vimeo_id: none
    next_section_heading:
  - _id: icon_section
    heading: 'FILMMAKERS, PHOTOGRAPHERS & CREATORS'
    bg-class:
    sub_heading: THE BEST INVESTMENT FOR
    text_html: >-
      <p class="center">Stop the guesswork. Get a proven plan that REALLY
      works.</p>
    img_path: /uploads/Volcano.jpg
    overlay_rgba: 'rgba(255, 255, 255, 0.6)'
    text_rgba: 'rgb(43, 43, 43)'
    icon_block:
      - img_path: /uploads/noun-video-tutorial.png
        img_alt: Video Tutorial by Vectors Point from the Noun Project
        heading: 65+ VIDEO LESSONS
        text_html: >-
          <p>With over 35 hours of information packed videos, LCA gives you ALL
          the insider tips, tricks and secrets to becoming a successful content
          creator. Become a pro in your business, and master your creative
          craft!</p>
      - img_path: /uploads/noun-community.png
        img_alt: Community by Fahmi from the Noun Project
        heading: ALWAYS UP TO DATE
        text_html: >-
          <p>Unlike courses that become outdated after a year or even months,
          LCA is an expanding academy meaning the content will always stay
          current!</p>
      - img_path: /uploads/noun-social-media-555679.png
        img_alt: Social Media by MRFA from the Noun Project
        heading: DIRECT MENTORSHIP FROM ME
        text_html: >-
          <p>LCA gives you direct access to ME and I will personally help you
          overcome the many challenges you are bound to face along the
          way.&nbsp;</p>
      - img_path: /uploads/noun-community-1071933.png
        img_alt: Community by Aneeque Ahmed from the Noun Project
        heading: PRIVATE CREATOR COMMUNITY
        text_html: >-
          <p>Share your journey with other like minded creators who will be
          there to support you through the highs and lows of your journey.</p>
      - img_path: /uploads/noun-computer-infinity-949783.png
        img_alt: Computer Infinity by Andrejs Kirma from the Noun Project
        heading: LIFETIME ACCESS!
        text_html: >-
          <p>Buy once and get access for life (even when we raise the academy
          price).</p>
      - img_path: /uploads/noun-refund-2396759.png
        img_alt: Refund by Ikipoh from the Noun Project
        heading: 30 DAY MONEY-BACK GUARANTEE
        text_html: >-
          <p>I&rsquo;m so confident you will LOVE LCA that I am proud to offer a
          30 day money back guarantee as long as you haven&rsquo;t watched 50%
          or more of the academy.</p>
  - _id: banner-two-col
    text_html: >-
      <h2 class="centered">SAVE 15% AND GET</h2><h2 class="centered">BONUS
      PRESET COLLECTION</h2><div id="button-2">&nbsp;</div>
    bg-class: footer-banner not-fixed
    img_path: /uploads/gradient-version.jpg
    img_description: Lost Creator Academy
    overlay_rgba:
    text_rgba:
    col_2_image_path:
    col_2_image_description:
---

{% include site-header.html %}

<section class="padded-light light-bg capped-width centered">

  <div class="padded-1 editable">
    <h2>Free One Hour Training </h2>
    <p class="emphasis">Become a Professional Content Creator and Make Money from Anywhere</p>
  </div>

  {{page.video_embed_code}}
  <!-- needed for button if loops -->
  {% assign buttons_used = 1 %}
  <!-- end needed for button for loops -->

</section>

<!--<div class="shrunk traning-text" id="shown-text">-->

  <div class="center rel">

    <div class="centered light-bg padded-bottom">
      <div id="button-{{buttons_used}}">
      </div>
    </div>


        {% if buttons_used == 1 %}

        <script src="/assets/buy.js" defer></script>
        <script src="/assets/buy_button-p5.js" defer></script>
        <script src="/assets/buy_button-p5-b2.js" defer></script>
        {% endif %}
        {% if buttons_used == 2 %}
        {% endif %}
        {% if buttons_used == 3 %}
        <script src="/assets/buy_button3.js" defer></script>
        {% endif %}
        {% if buttons_used == 4 %}
        <script src="/assets/buy_button4.js" defer></script>
        {% endif %}
    </div>

      {% assign buttons_used = buttons_used | plus: 1 %}




  <!-- end needed for button for loops -->
  {% for block in page.page_blocks %}

      <div class="rel">
          <a href="cloudcannon:#page_blocks[{{ forloop.index0 }}]" class="editor-link" data-cms-editor-link-style="modal">
            Edit Section
          </a>

       {% include blocks/{{block._id}}.html block=block %}

    </div>
  {% endfor %}
<!--</div>-->


<script>
  window._wq = window._wq || [];
  _wq.push({ id: "{{page.video_id}}", onReady: function(video) {
    video.bind("secondchange", function(s) {
      if (s === {{page.video_time_triger}}) {
        var element = document.getElementById("shown-text");
        element.classList.remove("shrunk");
      }
    });
  }});
</script>
