<!-- these are all of your javascript links that will be added to the bottom of each page. Add new javascript resources here, or edit the main.js file to add your custom javascript or jquery -->


<!-- adds jQuery library to your site -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" defer></script>


<!-- adds Magnific Popups javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js" defer></script>


<!-- para -->
<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.4.0/dist/simpleParallax.min.js"></script>

<script src="https://event.webinarjam.com/register/y1qz7f5/embed-bar?buttonText=Register&buttonBgColor=%23000000&buttonBgOpacity=0.5&barBgColor=%2399D0D0&barBgOpacity=1"></script>

<!-- this is your custom javascript/jQuery file -->
<script src="/assets/main.js" defer></script>

<!-- loox -->
<script async src="//loox.io/widget/loox.js?shop=lostleblanc.myshopify.com"></script>
