
<section class="padded {{block.bg-class}}  {{block.vertical_alignment}} {{block.horizontal_alignment}} centered rel flex-center tall-50 bg-attached" style="background-image:url('{{block.img_path}}')">
<!-- <div class="rel"> -->
<style media="screen">
  .color-{{forloop.index}},.color-{{forloop.index}} *{
    color:{{block.text_rgba}};
  }
</style>
<!--
 {% if parralex != true %}
 <div class="para-img-container">
 <img class="thumbnail" src="{{block.img_path}}" alt="{{block.img_description}}">
</div>
  {% endif %}
 -->
  <div class="bg-overlay block_height" style="background-color:{{block.overlay_rgba}};"></div>
  <div class="rel">
    <div class="color-{{forloop.index}} rel">
      {{block.text_html}}
    </div>
  </div>

</section>
