<section class="padded {{block.bg-class}} centered rel tall-50 bg-attached grid" style="background-image:url('{{block.img_path}}')">
  <!-- <div class="rel"> -->
<style media="screen">
  .color-{{forloop.index}},.color-{{forloop.index}} *{
    color:{{block.text_rgba}};
  }
</style>

  <div class="bg-overlay" style="background-color:{{block.overlay_rgba}}">
  </div>

    <div class="col-6 flex-center">
      {% if block.col_2_image_description != "" %}
      <img src="{{block.col_2_image_path}}" alt="{{block.col_2_image_description}}">
      {% endif %}
    </div>

    <div class="rel col-6-middle">

      <div class="color-{{forloop.index}} rel">
        {{block.text_html}}
      </div>
      {% if block.buy_button == true %}

      <div class="center rel">

        <div id="button-{{buttons_used}}">
        </div>
        {% if buttons_used == 1 %}

        <script src="/assets/buy.js" defer></script>
        <script src="/assets/buy_button.js"defer></script>
        {% endif %}
        {% if buttons_used == 2 %}
        <script src="/assets/buy_button2.js" defer></script>
        {% endif %}
        {% if buttons_used == 3 %}
        <script src="/assets/buy_button3.js" defer></script>
        {% endif %}
        {% if buttons_used == 4 %}
        <script src="/assets/buy_button4.js" defer></script>
        {% endif %}
      </div>
      {% assign buttons_used = buttons_used | plus: 1 %}
      {% endif %}
      <!-- <div class="center">
        <a class="payment-plan-link" href="https://partial.ly/checkout?offer=f85121a8-a76c-4e44-8219-76c338309950&amount=799&returnUrl=https%3A%2F%2Flostleblanc.myshopify.com%2Fcart&meta[source]=shopify&meta[items][0][id]=%7B%7Bproduct.id%7D%7D&meta[items][0][product_id]=%7B%7Bproduct.id%7D%7D&meta[items][0][variant_id]=31458128298041&meta[items][0][name]=Lost%20Creator%20Academy&meta[items][0][quantity]=1&meta[items][0][price]=799&meta[items][0][total]=799&meta[items][0][sku]=&meta[items][0][image]=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F1639%2F2777%2Fproducts%2FLCA_nail_medium.jpg%3Fv%3D1583069885">Payment Plan</a>
      </div> -->
    </div>

</section>
