<section class="capped-width padded {{block.bg-class}}">
  {% if forloop.index == 1 %}
    <h1 class="centered">{{block.heading}}</h1>
  {% else %}
    <h2 class="centered">{{block.heading}}</h2>
  {% endif %}
  {% if block.pre_img_text_html %}
    <p>{{block.pre_img_text_html}}</p>
  {% endif %}
  <div class="centered">
    <img class="max-gif" src="{{block.headshot_path}}" alt="{{block.headshot_alt}}">
  </div class="centered">

  <div class="centered">
    <img class="max-gif" src="{{block.img_path}}" alt="{{block.img_alt}}">
  </div class="centered">
  {% if block.post_img_text_html %}
    <p>{{block.post_img_text_html}}</p>
  {% endif %}
</section>
