<!-- Block - FAQ -->

<section class="padded max-width-1500 {{block.bg-class}}">
  <div class="padded">
    {% if forloop.index == 1 %}
    <h1 class="centered">{{block.heading}}</h1>
    {% else %}
    <h2 class="centered">{{block.heading}}</h2>
    {% endif %}
    <p class="centered">{{block.text}}</p>
  </div>
  {% for dropdown in block.dropdown %}
  <dl class="accordion">
    <dt><a href="" class="cc-active"><h4>{{dropdown.heading}}</h4></a></dt>
    <dd style="display: none;">
      {% for li in dropdown.list_item %}
      <ul>
        <li>
          <span>{{li.text_html}}</span>
          {% if block.has_link %}
          <a href="https://shop.lostleblanc.com/products/lost-creator-academy">Unlock now</a>
          {% endif %}
        </li>
      </ul>
      {% endfor %}
    </dd>
  </dl>
  {% endfor %}
</section>
