<section class="padded-temp max-width-1500">
  {% if forloop.index == 1 %}
    <h1>{{block.heading}}</h1>
  {% else %}
    <h2>{{block.heading}}</h2>
  {% endif %}
  <p class="center">{{block.text}}</p>
{% for dropdown in block.dropdown %}
<dl class="accordion">
  <dt><a href="" class="cc-active"><h3>{{dropdown.heading}}</h3></a></dt>
    <dd style="display: none;">
      <li>
        <span>{{dropdown.text}}</span>
        {% if block.has_link %}
        <a href="https://shop.lostleblanc.com/products/lost-creator-academy">Unlock now</a>
        {% endif %}
      </li>
  </dd>
</dl>
{% endfor %}
