<section class="padded {{block.bg-class}}">

<h2 class="centered">{{block.heading}}</h2>

<form class="grid-spaceBetween" action="https://formspree.io/business@lostleblanc.com" method="post">

<input class="col-5" name="name" type="text" value="name" placeholder="name">

<input class="col-5" name="email" type="email" value="email" placeholder="name">

<textarea class="col-12" name="message" rows="8" cols="80"></textarea>

<input class="col-12 button" type="submit" value="Send" class="button">

</form>


</section>
