<!-- Block - Form-->

<section class="padded {{block.bg-class}}">

  <h2 class="centered padded-light">{{block.heading}}</h2>

  <form class="grid-spaceBetween" action="https://formspree.io/business@lostleblanc.com" method="post">

    <div class="col-6_sm-12 padded-light">
      <input name="name" type="text" placeholder="Your Name">
    </div>

    <div class="col-6_sm-12 padded-light">
      <input  name="_replyto" type="email" placeholder="Your Email">
    </div>

    <div class="col-12 padded-light">
      <textarea name="message" rows="8" cols="80" placeholder="Your Message"></textarea>
    </div>

    <div class="col-12 padded-light">
      <input class="button" type="submit" value="Send" class="button">
    </div>
    <input type="hidden" name="_to" value="business@lostleblanc.com" class="hidden">
    <input type="text" name="_gotcha" class="hidden">
  </form>


</section>
