<section class="padded {{block.bg-class}} rel centered bg-attached color-{{forloop.index}}" style=" background-image:url('{{block.img_path}}');" >
  <!-- <div class="rel"> -->
<style media="screen">
.color-{{forloop.index}},.color-{{forloop.index}} *{
  color:{{block.text_rgba}};
}
</style>
    <!-- <img class="bg-image" src="{{block.img_path}}" alt="{{block.img_description}}"> -->
    <div class="bg-overlay" style="background-color:{{block.overlay_rgba}}">
    </div>
  <h3>{{block.sub_heading}}</h3>
  {% if forloop.index == 1 %}
    <h1 >{{block.heading}}</h1>
  {% else %}
    <h2 >{{block.heading}}</h2>
  {% endif %}
  <div >
    {{block.text_html}}
  </div>
  <hr>
  <div class="grid-center left">
    {% for icon in block.icon_block %}
    <div class="col-4_lg-6_sm-12 padded-light">
      <div class="grid">
        <div class="col icon-max padded-t-2">
          <img src="{{icon.img_path}}" alt="icon.img_alt">
        </div>
        <div class="col padded-2">
          <h4>{{icon.heading}}</h4>
          <p>{{icon.text_html}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
