<section class="light-bg">
  {% if forloop.index == 1 %}
    {% assign first == true %}
  {% endif %}
  {% if block.first-pic-right == true %}
  <div class="">
  </div>
  {% endif %}
  {% for layer in block.layer %}
  <div class="grid flex-flip">
    <div class="col-6_sm-12 bg-image" style="background-image:url('{{layer.image_path}}')">
    </div>
    <div class="col-6_sm-12-middle padded">
      <h3>{{layer.sub_heading}}</h3>
      {% if first == true %}
        <h1>{{layer.heading}}</h1>
        {% assign first == false %}
      {% else %}
        <h2>{{layer.heading}}</h2>
      {% endif %}
      <hr>
      <p> {{layer._text}} </p>
      <a class="arrow" href="link_url"> > </a>
    </div>
  </div>
  {% endfor %}
</section>
