<section class="padded img-text-grid {{block.bg-class}}">
  {% assign order = forloop.index %}
  {% if block.first-pic-flip == true %}
    <div class=""></div>
  {% endif %}
  {% for layer in block.layer %}
  <div class="grid flex-flip">
    <div class="col-6_sm-12 padded-light {% if layer.img-fill == true %}img-container {% else %} flex-center{% endif %}">
      <img src="{{layer.image_path}}" alt="{{layer.image_path}}">
    </div>
    <div class="col-6_sm-12-middle padded">

      {% if layer.sub_heading != nul %}
        <h3>{{layer.sub_heading}}</h3>
      {% endif %}
      {% if layer.heading != nul %}
        {% if order == 1 %}
          <h1>{{layer.heading}}</h1>
          {% assign order = order | plus:1 %}
        {% else %}
          <h2>{{layer.heading}}</h2>
        {% endif %}
        <hr>
      {% endif %}
      <p> {{layer.text_html}} </p>
      {% if block.has_links == true %}
      <a class="arrow" href="link_url"> > </a>
      {% endif %}
      {% if block.has_socials == true %}
      <div class="grid">
        {% for social in layer.socials %}
        <div class="col-3 centered">
          <img src="{{social.social_path}}" alt="{{social.number-of-followers}} followers on {{social.name}}" class="svg-social-icon">
          <p class="centered emphasis big-bold ">{{social.number-of-followers}}</p>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>


<style>
    .svg-social-icon {
        padding: 1rem;
    max-width: 4.5rem;
    }
    
</style>
