<section class="padded {{block.bg-class}}">
  <div class="grid">
    <div class="col-7">
      
      <div id="slider" class="beer-slider" data-beer-label="before">
        <img src="{{block.img_pre_filter_path}}" alt="{{block.img_pre_filter_alt}}">
        <div class="beer-reveal" data-beer-label="after">
          <img src="{{block.img_post_filter_path}}" alt="{{block.img_post_filter_alt}}">
        </div>
      </div>
    </div>
  </div>
  <div class="col-5 padded">
    {{block.text_html}}
  </div>
</section>
