<section class="capped-width padded {{block.bg-class}}">
  {% if forloop.index == 1 %}
    <h1 class="centered">{{block.heading}}</h1>
  {% else %}
    <h2 class="centered">{{block.heading}}</h2>
  {% endif %}
  {% if block.pre_img_text_html %}
    <div class="">
      {{block.pre_img_text_html}}
    </div>
  {% endif %}
  <div>
  <!-- class="flex-map" -->
  <!-- <div class="centered flex-map-1 padded-light">
      <img class="" src="{{block.map_path}}" alt="{{block.map_alt}}">
    </div> -->
    <div class="flex-map-2 padded-light">
      <video muted loop autoplay>
        <!-- <source src="/uploads/face_vid.mp4" type="video/mp4"> -->
        <source src="/assets/LCA%20Faces%20720.mp4" type="video/mp4">
        <source src="/assets/LCA%20Faces.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div  class="centered">
    {% if block.post_img_text_html %}
      <div class="">
        {{block.post_img_text_html}}
      </div>
    {% endif %}
  </section>
