<section class="{{block.bg-class}} mobile-hide padded rel centered bg-attached" style=" background-image:url('{{block.img_path}}');" >
    <!-- <div class="rel"> -->
  <style media="screen">
  .{{forloop.index}}-color,{{forloop.index}}-color *{
    color:{{block.text_rgba}};
  }
  </style>
      <!-- <img class="bg-image" src="{{block.img_path}}" alt="{{block.img_description}}"> -->
  <div class="bg-overlay" style="background-color:{{block.overlay_rgba}}">
  </div>
  <h4 class="centered padded-b-1">{{block.heading}}</h4>
  <div class="grid-middle-spaceAround">
    {% for icon in block.logo %}
      <div class="col_md-4_sm-12 centered padded-light">
        <img class="partner-logo" src="{{icon.image_path}}" alt="{{img_alt}}" {% if icon.opacity %} style="opacity:{{icon.opacity}}"{% endif %}>
      </div>
    {% endfor %}
  </div>
</section>
