
<section class="grid-center-middle padded {{block.bg-class}} mob-center vimeo">
  <div class="col-6_md-12 padded-r full-width-buttons">
    <h3>{{block.sub_heading}}</h3>
    {% if forloop.index == 1 %}
      <h1>{{block.heading}}</h1>
    {% else %}
      <h2>{{block.heading}}</h2>
    {% endif %}
    <div class="padded-b-1">
      {{block.text_html}}
    </div>
    {% if block.buy_button == true %}
    <div class="center rel">

      {% assign buttons_used = buttons_used | plus: 1 %}
      <div id="button-{{buttons_used}}">
      </div>
      {% if buttons_used == 1 %}
      <script src="/assets/buy.js" defer></script>

      <script src="/assets/buy_button.js" defer></script>
      {% endif %}
      {% if buttons_used == 2 %}

      <script src="/assets/buy_button2.js" defer></script>
      {% endif %}
      {% if buttons_used == 3 %}
      <script src="/assets/buy_button3.js" defer></script>
      {% endif %}
      {% if buttons_used == 4 %}
      <script src="/assets/buy_button4.js" defer></script>
      {% endif %}
      </div>
      <!-- <button class="button centered buy_button {{button.class}}" data-element="product.button">
        {{block.buy_button_text}}
      </button> -->

    {% endif %}
    {% for button in block.button %}

      <a class="button centered {{button.class}}" href="{{button.link_url}}">{{button.text}}</a>
    {% endfor %}
  </div>
  <div class="col-6_md-12">
    <iframe src="https://player.vimeo.com/video/{{block.vimeo_id}}" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
  </div>
</section>
