
<style media="screen">
  .color-{{forloop.index}},.color-{{forloop.index}} *{
    color:{{block.text_rgba}};
  }
</style>


<section class="grid-center-middle padded {{block.bg-class}} mob-center vimeo">
  <div class="col-6_md-12 padded-r full-width-buttons">
    <div class="color-{{forloop.index}} rel">
      {{block.text_html}}
    </div>
    {% if block.buy_button.postition == befor_video %}
      <a class="button centered {{button.class}}" href="{{button.link_url}}">{{button.text}}</a>
    {% endif %}
  </div>
  <div class="col-6_md-12">
    <iframe src="https://player.vimeo.com/video/{{block.vimeo_id}}" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
    <div class="centered">
      {% if block.buy_button == after_video %}

        <a class="button centered {{button.class}}" href="{{button.link_url}}">{{button.text}}</a>
      {% endif %}
    </div>
  </div>
</section>
