
<style media="screen">
  .color-{{forloop.index}},.color-{{forloop.index}} *{
    color:{{block.text_rgba}};
  }
  .bg-{{forloop.index}}{
    background-image:url("{{block.bg_image_path}}")
  }
</style>


<section class="padded centered bg-{{forloop.index}} {{block.bg-class}} mob-center vimeo">
  <div class="padded full-width-buttons">
    <div class="color-{{forloop.index}} rel">
      {{block.text_html}}
    </div>
    {% for button in block.button %}
    {% if button.button_postition == before %}
      <a class="button centered {{button.class}}" href="{{button.link_url}}">{{block.button.text}}</a>
    {% endif %}
    {% endfor %}
  </div>
  <div>
    <iframe src="https://player.vimeo.com/video/{{block.vimeo_id}}" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
    <div class="centered">

      {% for button in block.button %}
      {% if button.buy_button == after %}

        <a class="button centered {{button.class}}" href="{{button.link_url}}">{{button.text}}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
