
<section class="grid-center-middle padded {{block.bg-class}} mob-center vimeo">
  <div class="col-6_md-12 padded-r full-width-buttons">
    <h3>{{block.sub_heading}}</h3>
    {% if forloop.index == 1 %}
      <h1>{{block.heading}}</h1>
    {% else %}
      <h2>{{block.heading}}</h2>
    {% endif %}
    <div class="padded-b-1">
      {{block.text_html}}
    </div>
    {% if block.buy_button == true %}
    <div id="my-product-1">
    </div>
    {% endif %}
    {% for button in block.button %}
      <a class="button centered {{button.class}}" href="{{button.link_url}}">{{button.text}}</a>
    {% endfor %}
  </div>
  <div class="col-6_md-12">
    <iframe src="https://player.vimeo.com/video/{{block.vimeo_id}}" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
  </div>
</section>
