
/* Typography Styles */

p.emphasis {
    font-size: 1.4rem;
}

h2.h2-light-text {
  color: #efecd4;
}

h2.h2-green {
  color: #aec2b7;
}

p.p-light-text {
  color: #efecd4;
}

h2.smaller-h2 {
  font-size: 1.8rem;
}




/* Image Styles */

img {
  height: auto;
}

img.one-third {
  display: inline-block;
  width: calc(33% - 1rem);
  margin: 0.5rem;
}

img.two-thirds {
  display: inline-block;
  width: calc(66% - 1rem);
  margin: 0.5rem;
}

img.one-half {
  display: inline-block;
  width: calc(50% - 1rem);
  margin: 0.5rem;
}

img.float-left {
  max-width:50%;
  float: left;
  margin: 0 2rem 0.5rem 0;
}

img.float-right {
  max-width:50%;
  float: right;
  margin: 0 0 0.5rem 2rem;
}

img.small-centered {
  max-width: 300px;
  margin:auto;
}


/* Clear Floats */
p.clear-images,
h2.clear-images,
h3.clear-images{
  clear: both;
}

a.button{
  text-decoration: none
}

.payment-plan-link {
  display: block;
}
