/*

featured blue - #99d0d0
light blue - #dff0f0
light grey - rgb(150,150,155)

- [ ]  #839d8f dark green
- [ ]  #aec2b7 green
- [ ]  #efecd4 yellow

*/


/*-----  CSS RESET  ------*/

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
  }

  html, body { max-width: 100%; overflow-x: hidden; }

  img,video {
    max-width: 100%; /* this ensures images never break their container */
    height: auto;
  }

  body {
    font-family: 'Catamaran', sans-serif;
    color: rgb(75,75,80);
  }

  .shopify-buy-frame--product{display: inline-block!important}

  .grecaptcha-badge { visibility: hidden; }

   /* this overrides the default padding and margin on gridlex elements */
  [class*=grid] {   margin: 0;  }
  [class*=col]  {   padding: 0; }


    .editor-link {
      display: none;
      position: absolute;
      right: 1rem;
      margin-top: 1rem;
      color: teal;
      padding: 0.2rem 1rem;
      border: 1px solid;
      border-radius: 50px;
      text-decoration: none;
      z-index: 5;
    }

    .cms-editor-active .editor-link {
      display: block;
    }


    .review-item__img,
    .review-item__img img {
    max-height: 286px;
    }


  /* ------------- Utility Classes --------------  */

  .rel{
    position: relative;
  }
  .overflow-hidden{overflow:
  }

  .flex-coloum{
    display: flex;
    flex-direction: column;
  }

  .order-last{
    order:99999
  }

  .left     {  text-align: left;     }
  .right    {  text-align: right;    }
  .centered {  text-align: center;   }
  .centered li{list-style: none}

  .uppercase{text-transform: uppercase;}
  .cap{text-transform: capitalize;}
  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .padded               {  padding: 5vw;    }
  .padded-bottom       {  padding-bottom: 5vw;    }
  .padded-light {  padding: 2vw;}
  .padded-extra-light{padding:1vw;}
  .padded-1     {  padding: 1rem;  }
  .padded-2     {  padding: 2rem;  }
  .padded-r     {  padding-right: 5vw;  }
  .padded-r-1   {  padding-right: 1rem;  }
  .padded-r-2   {  padding-right: 2rem;  }
  .padded-l-2   {  padding-left: 2rem;  }
  .padded-b-0   {  padding-bottom: 0!important;  }
  .padded-b-1   {  padding-bottom: 1rem;  }
  .padded-b-2   {  padding-bottom: 2vw;  }
  .padded-b-3   {  padding-bottom: 3vw}
  .padded-t-1   {  padding-top: 1rem;}
  .padded-t-2   {  padding-top: 2rem;}
  .padded-top   {  padding-top: 5vw;}
  .padded-t-0   {  padding-top: 0; }
  .margin-a     {  margin:auto;}
  .margin       {  margin:5vw;       }
  .margin-light {  margin:3vw;       }
  .margin-t-1   { margin-top: 1rem}
  .margin-b-1   { margin-bottom: 1rem}

  .capped-width-image{
    max-width: min(100%, 1000px);
    display: block;
    margin:auto;
  }

  .hidden       {  display:none;    }
  .float-Chris{
    width: 33%;
    float: left;
    margin-right:2vw;
    margin-bottom: 2vw;

  }


  .shopify-buy__cart{background-color: #becec5;}.shopify-buy_cart-item_title {color: #4c4c4c;}.shopify-buy__btn {background-color: #839d8f;color: #efecd4;}.tick {color: #839d8f;}

  .small-img{
    max-width:250px;
  }

  /* Fixing gridlex bugs  */
  [class*=grid].padded    {  padding: 5%;  }
  [class*=grid].padded-2 {  padding: 2rem;  }

  .tall-50  {  min-height: 50vh;   }
  .tall-80 {  min-height: 80vh;  }
  .tall-100 {  min-height: 100vh;  }

  .dark-bg      {  background-color: rgb(60, 60, 65);     }
  .light-bg     {  background-color: #f0f3f4;  }
  .featured-bg  {  background-color: #aec2b7;             }
  .d-featured-bg  {  background-color: #7298ad;             }

  .product-shot-bg{
     background-image:url("/img/Counter-LCA-Device.jpg");
     background-size: 100vw!important;
     height: 44vw;
    background-position: 50% 98% !important;
   }
   .gradient-bg-lightgrey-white{
     background-image: linear-gradient(180deg, #f0f3f4, #fff);
   }

  .light-text   { color: #efecd4; }
  .flex-flip:nth-child(2n){  flex-direction: row-reverse; }
  .flex-flip:nth-child(2n) .col-12 {
      order: 0;
  }

    /* paralex */

.para-img-container{
  position:absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  overflow: hidden;
}
.para-img-container img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center
}

  /* General typography */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-bottom: 0.8rem;
  }

  h2,h1 { font-size: 2.2rem;  }

  /* Subtitles  */
  h3  {
    font-size: 1.3rem;
    color: #5f5f63;
    font-weight: 200;
    letter-spacing: 1px;
  }


  h4  { font-size: 1.5rem;  }
  p   { font-size: 1rem;    }

  p, ul {
     margin-bottom: 0.5rem;
  }

  a{color: inherit;}

  /* this makes sure that the last element in any container doesn't have margin-bottom */
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child {
    margin-bottom:0;
  }

  hr { /* this is a line element */
    border: none;
    border-bottom: 2px solid rgb(220,220,230);
    width: 3rem;
    margin: 1rem 0;
  }

  .centered hr,
  hr.centered {
    margin: 1rem auto;
  }

  /* ------- unique typography styles - adjust to suit your styles  --------- */

  .not-bold   { font-weight: normal; } /* add this class to make headings not bold */
  .no-bullets { list-style:none; } /* Used to remove dot-points from a list */

  .big-bold {
    font-size: 3rem;
    font-weight: 700;
  }

  p.emphasis {   /* typically added to paragraphs to make them a little bigger, could be a different font or color also */
    font-size: 1.4rem;
  }


  /* bf specifics */
  .bf-banner .padded.full-width-buttons{
    padding-bottom: 1rem!important;
  }

  .bf-banner .button{
    padding:1.5rem 4rem;
    cursor: pointer;

  }

  .WHAT-INSIDE-override.padded{
    padding-top:1rem;
  }
  .WHAT-INSIDE-override div:first-child  div:first-child img {
    object-position: 91% 50%;
  }

  .spaced-h2 h2{
    margin-bottom: 1.1rem;
  }
  .spaced-h2 span{
    font-size: 1.3em;
    color:#aec2b7;
  }

  .FEATURED-ON img:first-of-type{
    transform: scale(.8);
  }

  .bf-banner .full-width-buttons{
    padding-top:2.5vw;
    padding-bottom:2.5vw;
  }


  /* Icons */

  .far {        /* default styles for font awesome icons */
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .featured-stat {     /* styles for our featured statistic icons  */
    font-size: 3rem;
    color: #e67e22;
    margin-bottom: 1rem;
    display: block;
  }

  .highlight { /* this is applied to spans for out highlighted text. */
    background-color: rgb(240, 240, 245);
    display: inline-block;
    padding: 0.5rem;
    margin: 2px;
  }

  .quote-icon {  /* You can also change the fonts for these icons specifically */
    font-size: 6rem;
    line-height: 1;
  }

  /* ---------------  Button Styles  --------- */
  /* We have created lots of different button styles, you probably don't need to have quite this many styles depending on your site */
  .button,
  .button-subtle,
  .button-inverted {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #efecd4;
    background-color: #839d8f;
    font-weight: bold;
    border: none;
    padding: 1rem 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 0.5rem auto;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
  }

  .button-subtle {
    background-color: #aec2b7;
  }

  .button:hover,
   .buutton-subtle:hover {
    box-shadow: 0 14px 20px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
  }

  .button.inverted {   /* this is for a button on a dark background */
    border: 2px solid white;
    color: white;
  }

  .button.inverted:hover {
    color: #99d0d0;
    border-color: #99d0d0;
  }

  .full-width-buttons .button,
  .full-width-buttons .button-subtle {
    width: 100%;
  }



  /* Headers and footers */

  header {
    padding: 1% 5%;
  }

  header .logo {
    max-height: 3rem;
  }

  header a,
  footer a,
  nav a {
    text-decoration: none;
    color: inherit;
  }

  header nav a,
  .inline a {
    display: inline-block;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  nav a:hover {
    color: #99d0d0;
  }

  header nav a.emphasis {
    /* padding: 0.5rem 2rem; */
    margin: 0 0.5rem;
    border: 1px solid #99d0d0;
    border-radius: 2px;
    color: #99d0d0;
  }

  header nav a.emphasis:hover {
    background-color: #e67e22;
    color: white;
  }

  /*.alert-banner {*/
  /*  position: fixed;*/
  /*  top:0;*/
  /*  left: 0;*/
  /*  right: 0;*/
  /*  z-index: 10;*/
  /*  background-color: #aec2b7 ;*/
  /*  padding: 3vh 5vh;*/
  /*}*/

  #countdown ul,#countdown-2 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 400px;
    margin: auto;
    font-size: 2rem;
    line-height: 1.4;
    margin-top: 0.5rem;
  }
  #countdown li, #countdown-2 li{
    display: inline-block;
    width: 5rem;
  }

  #countdown h2 {
      font-size: 1.5rem;
  }
  #countdown p {
      font-size:0.8rem;
  }

  /* Dropdown Header */

  header li {
    list-style: none;
    display: inline-block;
    position: relative;
  }

  header li .dropdown-menu {
    display: none;
    padding: 1rem;
    min-width: 12rem;
  }

  header li li {
    display: block;
  }

  header .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 2rem;
    right: -1rem;
    background-color: white;
  }

  /* Fixed Header Option */

  header.fixed {
    position: fixed;
    background-color: #f9ca24;
    top:0;
    left:0;
    right:0;
    z-index: 2;
    margin:0;
    padding: 1%;
    text-align: center;
  }
  .bump-for-header {
    min-height: 4rem;
  }


  /* Hamburger Menu */
  .hamburger,
  .mobile-menu {
    display: none;
  }

  .hamburger {
    position: absolute;
    top:0;
    right:0;
    z-index: 3;
    font-size: 1.5rem;
    padding:2% 5%;
  }
  .active {
    color: #e67e22;
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgb(60,60,65);
    padding: 10%;
  }
  .mobile-menu a {
    color: white;
    padding: 1rem;
    display: block;
    text-decoration: none;
  }

/* map */
.flex-map{
  display:flex;
}
.flex-map-1{
  flex: 2.24;
}

.flex-map-2{
  flex: 1;
  font-size: 0;
}

.map-text{
  position: absolute;
    z-index: 4;
    top: 17vw;
    right: 6vw;
    width: 20vw;
    transform: rotate(8deg);
    font-weight: bold;
}
.map-text *{
  font-size: 3vw;
    color: #fff;
}

/* block alignment section */

.desktop-top{
  align-items: flex-start;
}
.desktop-bottom{
  align-items: flex-end;
}
.desktop-left{
  justify-content: flex-start;
}
.desktop-right{
  justify-content: flex-end;
}
/* 30vh 50vh 70vh 90vh and 100vh */
.x-small{
  min-height: 30vh;
}
.small{
  min-height: 50vh;
}
.medium{
  min-height: 70vh;
}
.large{
  min-height: 90vh;
}
.full-height{
  min-height: 100vh;
}
.oversize{
  min-height: 150vh;
}

@media all and (max-width: 1024px){
  .tablet-top{
    align-items: flex-start;
  }
  .tablet-bottom{
    align-items: flex-end;
  }
  .tablet-left{
    justify-content: flex-start;
  }
  .tablet-right{
    justify-content: flex-end;
  }

}

@media all and (max-width: 768px){

    h1,h2{
      font-size: 1.8rem
    }
    .small-img{
      max-width: 33%;
    }

  .mobile-top{
    align-items: flex-start;
  }
  .mobile-bottom{
    align-items: flex-end;
  }
  .mobile-left{
    justify-content: flex-start;
  }
  .mobile-right{
    justify-content: flex-end;
  }

}



@media all and (max-width: 600px){
.flex-map{
  flex-direction: column;
}

/* .flex-map-2{
display: none;
} */

}


  /* -- Footer -- */

  footer {
    color: rgb(120,120,125);
  }

  footer span,
  footer a {
    font-size: 0.8rem;
    padding: 0.5rem;
    display: inline-block;

  }

  footer nav a {
    display:block;
  }

  footer h3 {
    font-size: 1.2rem;
  }

  /* BANNERS */

  .banner,
  .banner-with-header {
    background-image: url('/images/adventure.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
  }

  .fixed {
    background-attachment: fixed;
  }

  .banner-with-header {
    padding-top: 6rem;
    min-height: 100vh;
  }

  .sales-footer-banner{
    background-position: 50% 95%
  }

  .absolute-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: none;
  }

  .logo-max{
    max-width: 150px;
  }

  [class*="bg"]{
    background-size: cover;
    background-position: center;
  }

  .footer-banner{
    background-position: 62% 50%;
  }
  .bg-pencils {
    background-image: url('/images/pencils.jpg');
    background-position: left;
  }

  .bg-video{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    object-fit: cover;
  }

  .bg-image {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
  }
  .bg-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0,0,0, 0.7); */
  }
  /* Hover grid */

  .hover-container {
    background-size: cover;
    background-position: center;
  }

  .hover-overlay {
    position: relative;
    padding-bottom: 100%;
    color: rgba(255, 255, 255, 0);
    position: relative;
    /* you only need to use relative + absolute if you want to determine the exact aspect ratio of the container */
    transition: all 0.3s;
  }

  .hover-overlay:hover {
    background-color: rgba(60, 60, 60, 0.7);
    color: white;
  }

  .hover-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .hover-inner p {
    margin-bottom: 0;
  }

 /* Search page */

 .search-grid{
   display: flex;
   /* justify-content: space-around; */
 }

 .search-grid li{
   flex-basis: 21%;
   max-width: 21%;
   margin: 2%;
   list-style: none;
 }


  /* Blog Post Elements */
  /* ---- Blog loop elements style 1 ------ */
  .blog-loop .blog-item {
    color: inherit;
    text-decoration: none;
    width: 100%;
    margin: 0;
    display:block;
  }

  .blog-loop .bg-image {
    padding-bottom: 60%;
    margin-bottom: 0.5rem;
  }

  .blog-loop img,
  .post-body img {
      margin-bottom: 2vh;
  }

  /* ---- Blog loop elements style 2 ------ */
  .blog-item-wide .bg-image {
    padding-bottom: 30%;
  }

  .text-bump { /* selects every second one and reverses it */
    margin-left: -2rem;
    background-color: rgb(240,240,245);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .blog-item-wide:nth-child(odd) { /* selects every second one and reverses it */
    flex-direction: row-reverse;
  }

  .blog-item-wide:nth-child(odd) .text-bump { /* selects every second one and reverses it */
    margin-right: -2rem;
    margin-left: 0;
  }


  /* ---- Blog post pages ------ */
  .post-body {
    padding-right: 3%;
  }

  .post-meta {
    font-size: 0.9rem;
  }

  .sidebar > div {
    border: 1px solid rgb(245,245,245);
    padding: 2rem;
    margin: 2vh 0;
  }

  .category {
    display: inline-block;
    text-decoration: none;
    color: rgb(90,90,95);
    border: 1px solid rgb(90,90,95);
    margin: 2px;
    padding: 2px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  a.category:hover {
    border-color: #1abc9c; /* featured color */
    color: #1abc9c; /* featured color */
  }

  .social-share nav [class*=fa] {
    padding: 0 1em 0 0;
  }

  .social-share hr{
    margin: 3rem 0;
  }

  /* ----- FORMS --------------------------- */

  input,
  textarea {
    border-style: solid;
    border: 2px solid rgb(230, 230, 235);
    padding: 1.2rem;
    display: block;
    width: 100%;
    font-size: 1rem;
    vertical-align: top;
    -webkit-appearance: none;
    font-family: inherit;
  }

  input::placeholder,
  textarea::placeholder {
  font-family: inherit;
  -webkit-appearance: none;
}

  input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid #99d0d0;
    /* featured color */
    -webkit-appearance: none;
  }

  textarea {
    min-height: 7em;
  }

  input[type="submit"] {
    width: auto;
    display: block;
    -webkit-appearance: none;
  }

  form [class*=col-] {
    padding: 5px;
  }



  .email-signup input {
    width: 30%;
    display: inline-block;
    max-width: 250px;
    margin-top:1rem;
  }

  .email-signup .button-solid {
    padding: 0.8em;
    border-radius: 0;
    font-size: 1rem;
  }
   form .button {
     width:100%;
   }

   @media(max-width:768px) {
     input,textarea{
       padding: 0.6rem;
     }
     input.button{
       margin: 0;
     }

     .email-signup input {
       width: 100%;
       max-width: 100%;
     }
   }

  /* Testimomnials */

  .card {
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .profile {
    max-width: 8rem;
    border-radius: 100%;
    margin-bottom: 2rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .card .author {
    font-weight: bold;
    margin-bottom:0;
  }

  .card .company {
    margin-bottom: 2rem;
  }

  /* clickable boxes */

  .clickable-box {
    color: inherit;
    text-decoration: none;
    box-shadow: 0 rgba(0, 0, 0, 0); /* so that we can add a transition */
    transition: 0.2s all;
    display: block;
  }

  .clickable-box .overlay {
    min-height:10rem;
    padding: 5rem 2rem;
    background-color: rgba(0,0,10,0.6);
    color: white;
  }

  .clickable-box p {
    margin-bottom: 0;
  }

  .clickable-box:hover {
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
    margin-top:-2px;
  }


/* pop-up gallery */

.popup-gallery .bg-image {
  border: 2px solid white;
}


/* Masonry Gallery */

.masonry { /* Masonry container */
  column-count: 3;
  column-gap: 1rem;
}

.masonry .item { /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}

@media(max-width:767px) {
  .masonry {
    column-count: 2;
  }
}

@media(max-width:567px) {
  .masonry {
    column-count: 1;
  }
}

/* pricing cards  */

.card.featured {
  border: 2px solid orange;
}

.price {
    font-size: 3rem;
    font-weight: 300;
}

.pricing-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(120,120,125);
}

.card .button {
  margin-top:2rem;
}

/* Responsive video */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container.vertical {
  padding-bottom: 162.25%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* This media query kicks into action at the gridlex sm breakpoint */
@media(max-width:1024px) {
  .vimeo .padded-r {
    padding-right: 0;
  }
}

/* This media query kicks into action at the gridlex sm breakpoint */
@media(max-width:768px) {

  .vimeo_mobile{
    height:48vw;
  }

  .mob-hide {
    display: none;
  }
  .hamburger{
    display: block;
  }

  .blog-item-wide .bg-image{
    padding-bottom: 60%;
  }

  #body .text-bump {
    margin: -0.5rem;
  }

  .capped-width {
    width: 100%;
  }
  .flex-flip,.flex-flip:nth-child(2n){
    flex-direction: column-reverse;
  }

  .mob-order-1 {
      order: 1;
  }

  .mob-center {
    text-align: center;
  }

  .padded-r     {  padding-right: 0;  }
  .padded-r-1   {  padding-right: 0;  }
  .padded-r-2   {  padding-right: 0;  }
  .padded-l-2   {  padding-left: 0;  }
  .mobile-padded-top-5{ padding-top:5%}

} /* end media query */


/* This media query kicks into action at the gridlex xs breakpoint */
@media(max-width:576px) {

} /* end media query */


/* custom CSS */

/* vimeo section */

/* icon grid section */


.icon-max{
  max-width:50px;
  /* sets the max size of icons in the grid */
}

/* gif section */
.gif-max{
  max-width:700px;
}


.accordion{
	margin:0;
	margin-bottom: 0.5rem;
}

.accordion h4 {
	margin:0;
	font-size: 1.3rem;
    padding: 0 0.5rem;
}

.accordion dt {
    background-color: #839d8f;
    color: #efecd4;
}

.accordion dt a {
  padding: 0.75rem;
  padding-right: 3rem;
  margin: 0.25rem 0;
  display:block;
  position: relative;
  text-decoration: none;
}

.accordion dd a {
	padding: 0.45rem 0.35rem 0.35rem 0.35rem;
    line-height: 1;
    border: 1px solid;
    border-radius: 3px;
    text-decoration: none;
    flex-grow: 0;
}

.accordion dd {
    background-color: #aec2b7;
	padding: 1rem;
	margin: 0;
    margin-bottom:  0.5rem;
}


.accordion dt a::after {
  position: absolute;
  top: 0.8rem;
  right: 1.25rem;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 2;
  text-align: center;
  transition: all .35s;
}

.accordion dt a::after {
  content: "+";
  line-height:1;
}
 .accordion dt a.open::after {
  content: "-";
}
.accordion li{
	display:flex;
    justify-content: space-between;
}


/* cart css */
.shopify-buy-frame--cart{
  background-color:white;
  max-width: 100vw !important;
}
.shopify-buy-frame--cart .close-button-for-cart{
position: absolute;
top:4px;
right:4px;
}

.shopify-buy__cart{
  width:100vw;
}


/* close button cart */
.shopify-buy__btn--close {
    position: absolute;
    right: 9px;
    top: 8px;
    font-size: 35px;
    color: #767676;
    border: none;
    background-color: transparent;
    -webkit-transition: color 100ms ease, -webkit-transform 100ms ease;
    transition: color 100ms ease, -webkit-transform 100ms ease;
    transition: transform 100ms ease, color 100ms ease;
    transition: transform 100ms ease, color 100ms ease, -webkit-transform 100ms ease;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 9px;
}

.visuallyhidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* partner */

.partner-logo{
  filter: grayscale(1);
  width: 100px;
}


.traning-text{
  opacity: 1;
  height: auto;
  /* overflow: inherit; */
  transform: 3s;
}

.shrunk{
  opacity: 0;
  height: 0;
  display: none;
  /* overflow: hidden; */
}

/* img and text grid */
.img-text-grid li {
  font-size: 1.50rem;
  padding-left: 1rem;
  list-style-position: outside;
  margin-bottom: 0.4em;
}

.img-text-grid-videolist ul {
    background-color: #aec2b7;
    padding: 5% 5% 5% 8%;
    width: 100%;
}

.img-text-grid-videolist li {
  font-size: 1.1rem;
  padding-left: 1rem;
  list-style-position: outside;
  margin-bottom: 0.4em;
}

.alert-banner.fixed-banner {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 5;
    padding: 2vw 5vw;
}
.alert-banner {
   padding: 2vw 5vw;
}


.alert-banner h2 {
    margin-bottom: 0;
    font-size: 1.8rem;
}

.alert-banner .countdown {
    font-size: 1.4rem;
}

.alert-banner .button {
    padding: 0.5rem 2rem;
}

.bf-banner h2{
    margin-bottom: 0;
    font-size:1.8rem;
}
.bf-banner h3{
    margin-bottom: 0;
    font-size:1.6rem;
    font-size: Max(1.3rem, 2.2vw) !important ;
    color: #4b4b50;
    letter-spacing: 0;
}
.vimeo2_0 iframe{
    height: min(44vw, 480px);
}

/* slider section  */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display:flex;
  justify-content:space-between;
  align-content:space-around
}

/* Hide the images by default */
.mySlides {
    display: none;
    width:32%;
    padding: 1rem;
    position:relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.8);
}

.prev{
  left:-3rem;
}

/* Position the "next button" to the right */
.next {
  right: -3rem;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  right:0;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* svg section */

.layered-svg-sec {
  position: relative;
}
.layered-svg-sec img{
  margin: auto;
  display: block;
  max-width: 80%;
  position: relative;
  z-index: 3;
}
.layered-svg-sec svg{

  position:absolute;
  z-index:2;
  bottom:-.1vh;
  left:-1vw;
  width:102%;
  fill:#fff;

}

@media (min-width:768px ) {
    .bg-attached{
      background-attachment: fixed;
    }
    .not-fixed{
      background-attachment: inherit;
    }
  .img-container{
    position: relative;
  }
  .img-container img{
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    object-fit: cover;
    width: 90%;
    height: 90%;
    object-position: center;
  }

}

@media(max-width: 576px) {

}
@media(max-width: 768px) {
  .mobile-show{
    display:block;
  }
  .mobile-show-inline{
    display:inline;
  }
  .mob-padded-light-top {
    padding-top:2vh;
  }
  .mobile-flex-top{
    align-items: flex-start;
  }
  .alert-banner .padded-light {
    padding: 1%;
  }
  .alert-banner h2 {
    font-size: 6.5vw;
  }

  .prev{
  left:0rem;
}

/* Position the "next button" to the right */
.next {
  right: 0rem;
  border-radius: 3px 0 0 3px;
}

}

@media (min-width:1400px ) {


  section.capped-width {
    padding-left: calc(55% - 700px);
    padding-right: calc(55% - 700px);
  }
}


#my-product{display:none;}
/* index page */
.banner-bg-index-last{
  background-image: url("/images/index-banner-last.jpg");
  color: white;
}
