---
layout: default
---

<!--<div class="alert-banner fixed-banner centered grid-middle featured-bg  mob-padded-light-top">-->
<!--  <div class="col-4_sm-hidden padded-light">-->
<!--    <img class="logo-max" src="/images/logo.png" alt="lostcreatoracademy" />-->
<!--  </div>-->
<!--  <h2 class="col-4_sm-12 padded-extra-light mobile-show-inline hidden">-->
<!--    FREE 1 HOUR TRAINING <span id="ten-countdown-mobile"></span>-->
<!--  </h2>-->
<!--  <div class="col-4_sm-hidden padded-extra-light countdown">-->
<!--    <h2>FREE 1 HOUR TRAINING</h2>-->
<!--    <span id="ten-countdown"></span> <span> till next session</span>-->
<!--  </div>-->
<!--  <div class="col-4_sm-12-middle padded-extra-light">-->
<!--    {{page.sticky-banner-url}}-->
<!--  </div>-->
<!--  </div>-->
<!--  <div class="alert-banner centered grid featured-bg mob-padded-light-top">-->
<!--    <h2 class="col-4_sm-12 padded-extra-light">-->
<!--      FREE 1 HOUR TRAINING <span class="mobile-show-inline hidden" id="ten-countdown-mobile"></span>-->
<!--    </h2>-->
<!--    <div class="col-4_sm-hidden padded-extra-light countdown">-->
<!--      <span id="ten-countdown"></span> <span> till next session</span>-->
<!--    </div>-->
<!--    <div class="col-4_sm-12-middle padded-extra-light">-->
<!--      {{page.sticky-banner-url}}-->
<!--    </div>-->
<!--  </div>-->


  <section class="padded d-featured-bg centered light-text padded" style="padding-bottom:0">
     <div class="editable">
    <h1>
      FREE 1 HOUR TRAINING SESSION FOR ALL CONTENT CREATORS:
    </h1>
    <p class="emphasis">
      Discover how to become a full-time content creator as I reveal how to shoot professional photos &amp; videos - AND how to get PAID for it. I will teach you how to unleash your full potential and build a loyal community that will support you no matter what you create.
    </p>
    </div>
    <div class="padded-1">
         <a class="button" data-formkit-toggle="00479e2b66" href="https://lost-leblanc.ck.page/00479e2b66">YES, RESERVE MY SEAT NOW!</a>
    </div>
    <div class="editable">
        <h4 class="margin-t-1 emphasis">
            THESE 60 MINUTES COULD CHANGE YOUR CAREER FOREVER!&nbsp;
        </h4>
    </div>
  </section>
  
  <section class="d-featured-bg layered-svg-sec rel padded" style="padding-top: 3%;">
    <img class="editable" src="/uploads/LCA-3-item.png" width="1024" height="568"/>
    <svg viewbox="0 0 100 20">
    <path d="M 0,20
             L0,10
             S15,2 30,10
             S49,10 56,5
             S85,18 98,13
             S100,5 102,7
             L101,20
             Z" />
    </svg>
  </section>
  <section class="padded centered editable">
    <h2>&ldquo;THE SINGLE BEST HOUR I'VE EVER INVESTED IN MYSELF"</h2>
    <h3>- THOMAS BENNETT</h3>
  </section>

<div class="hidden content">

   {{content}}

</div>

<!-- needed for button if loops -->
{% assign buttons_used = 1 %}
<!-- end needed for button for loops -->

{% for block in page.page_blocks %}

    <div class="rel">
        <a href="cloudcannon:#page_blocks[{{ forloop.index0 }}]" class="editor-link" data-cms-editor-link-style="modal">
          Edit Section
        </a>

     {% include blocks/{{block._id}}.html block=block %}

  </div>
{% endfor %}



<script type="text/javascript">

  function countdown( elementName, minutes, seconds )
  {
      var element, endTime, hours, mins, msLeft, time;

      function twoDigits( n )
      {
          return (n <= 9 ? "0" + n : n);
      }

      function updateTimer()
      {
          msLeft = endTime - (+new Date);
          if ( msLeft < 1000 ) {
            endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
            updateTimer();
          } else {
              time = new Date( msLeft );
              hours = time.getUTCHours();
              mins = time.getUTCMinutes();
              element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
              setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
          }
      }

      element = document.getElementById( elementName );
      endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
      updateTimer();
  }

  countdown( "ten-countdown", 10, 0 );
  countdown( "ten-countdown-mobile", 10, 0 );

</script>

{{page.body-scripts}}
