---
layout: default
---

{% for block in page.page_blocks %}

    <div class="rel">
        <a href="cloudcannon:#page_blocks[{{ forloop.index0 }}]" class="editor-link" data-cms-editor-link-style="modal">
          Edit Section
        </a>
    
     {% include blocks/{{block._id}}.html block=block %}
  
  </div>
{% endfor %}


 <script src="https://event.webinarjam.com/register/y1qz7f5/embed-button"></script>

<script src="https://event.webinarjam.com/register/y1qz7f5/embed-bar?buttonText=Register&buttonBgColor=%23000000&buttonBgOpacity=0.5&barBgColor=%2329b6f6&barBgOpacity=0.95"></script>